In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from pyspark.sql.functions import col

In [2]:
spark = SparkSession.builder.appName("US_data_learning").getOrCreate()

In [3]:
spark

In [4]:
data = spark.read.csv("Dataset/US_datasets.csv",header=True,inferSchema=True)

In [5]:
data.show()

+-----------+-----------+------------+---------+--------+--------+--------------------+--------------+----------+-----------+----------------+----------------+------------+
|   Retailer|Retailer ID|Invoice Date|   Region|   State|    City|             Product|Price per Unit|Units Sold|Total Sales|Operating Profit|Operating Margin|Sales Method|
+-----------+-----------+------------+---------+--------+--------+--------------------+--------------+----------+-----------+----------------+----------------+------------+
|Foot Locker|    1185732|  01/01/2020|Northeast|New York|New York|Men's Street Foot...|          50.0|     1,200|   600,000 |        300,000 |             50%|    In-store|
|Foot Locker|    1185732|  02/01/2020|Northeast|New York|New York|Men's Athletic Fo...|          50.0|     1,000|   500,000 |        150,000 |             30%|    In-store|
|Foot Locker|    1185732|  03/01/2020|Northeast|New York|New York|Women's Street Fo...|          40.0|     1,000|   400,000 |        140,000 |             35%|    In-store|
|Foot Locker|    1185732|  04/01/2020|Northeast|New York|New York|Women's Athletic ...|          45.0|       850|   382,500 |        133,875 |             35%|    In-store|
|Foot Locker|    1185732|  05/01/2020|Northeast|New York|New York|       Men's Apparel|          60.0|       900|   540,000 |        162,000 |             30%|    In-store|
|Foot Locker|    1185732|  06/01/2020|Northeast|New York|New York|     Women's Apparel|          50.0|     1,000|   500,000 |        125,000 |             25%|    In-store|
|Foot Locker|    1185732|  07/01/2020|Northeast|New York|New York|Men's Street Foot...|          50.0|     1,250|   625,000 |        312,500 |             50%|    In-store|
|Foot Locker|    1185732|  08/01/2020|Northeast|New York|New York|Men's Athletic Fo...|          50.0|       900|   450,000 |        135,000 |             30%|      Outlet|
|Foot Locker|    1185732|  21/01/2020|Northeast|New York|New York|Women's Street Fo...|          40.0|       950|   380,000 |        133,000 |             35%|      Outlet|
|Foot Locker|    1185732|  22/01/2020|Northeast|New York|New York|Women's Athletic ...|          45.0|       825|   371,250 |        129,938 |             35%|      Outlet|
|Foot Locker|    1185732|  23/01/2020|Northeast|New York|New York|       Men's Apparel|          60.0|       900|   540,000 |        162,000 |             30%|      Outlet|
|Foot Locker|    1185732|  24/01/2020|Northeast|New York|New York|     Women's Apparel|          50.0|     1,000|   500,000 |        125,000 |             25%|      Outlet|
|Foot Locker|    1185732|  25/01/2020|Northeast|New York|New York|Men's Street Foot...|          50.0|     1,220|   610,000 |        305,000 |             50%|      Outlet|
|Foot Locker|    1185732|  26/01/2020|Northeast|New York|New York|Men's Athletic Fo...|          50.0|       925|   462,500 |        138,750 |             30%|      Outlet|
|Foot Locker|    1185732|  27/01/2020|Northeast|New York|New York|Women's Street Fo...|          40.0|       950|   380,000 |        133,000 |             35%|      Outlet|
|Foot Locker|    1185732|  28/01/2020|Northeast|New York|New York|Women's Athletic ...|          45.0|       800|   360,000 |        126,000 |             35%|      Outlet|
|Foot Locker|    1185732|  29/01/2020|Northeast|New York|New York|       Men's Apparel|          60.0|       850|   510,000 |        153,000 |             30%|      Outlet|
|Foot Locker|    1185732|  30/01/2020|Northeast|New York|New York|     Women's Apparel|          50.0|       950|   475,000 |        118,750 |             25%|      Outlet|
|Foot Locker|    1185732|  31/01/2020|Northeast|New York|New York|Men's Street Foot...|          50.0|     1,200|   600,000 |        300,000 |             50%|      Outlet|
|Foot Locker|    1185732|  01/02/2020|Northeast|New York|New York|Men's Athletic Fo...|          50.0|       900|   450,000 |        135,000 |             30%|      Outlet|
+-----------+-----------+------------+---------+--------+--------+--------------------+--------------+----------+-----------+----------------+----------------+------------+
only showing top 20 rows

In [6]:
data.printSchema()

root
 |-- Retailer: string (nullable = true)
 |-- Retailer ID: integer (nullable = true)
 |-- Invoice Date: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- State: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Price per Unit: double (nullable = true)
 |-- Units Sold: string (nullable = true)
 |-- Total Sales: string (nullable = true)
 |-- Operating Profit: string (nullable = true)
 |-- Operating Margin: string (nullable = true)
 |-- Sales Method: string (nullable = true)

In [7]:
df = data.select(
    "Retailer",
    "Retailer ID", 
    "City",
    "State",
    "Product"
)

In [8]:
df.show()

+-----------+-----------+--------+--------+--------------------+
|   Retailer|Retailer ID|    City|   State|             Product|
+-----------+-----------+--------+--------+--------------------+
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|
+-----------+-----------+--------+--------+--------------------+
only showing top 20 rows

In [9]:
# create new column
df.withColumn("Temp",df['Retailer ID']*10).show()

+-----------+-----------+--------+--------+--------------------+--------+
|   Retailer|Retailer ID|    City|   State|             Product|    Temp|
+-----------+-----------+--------+--------+--------------------+--------+
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|11857320|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|11857320|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|11857320|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|11857320|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|11857320|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|11857320|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|11857320|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|11857320|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|11857320|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|11857320|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|11857320|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|11857320|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|11857320|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|11857320|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|11857320|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|11857320|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|11857320|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|11857320|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|11857320|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|11857320|
+-----------+-----------+--------+--------+--------------------+--------+
only showing top 20 rows

In [10]:
df.withColumn("temp_country",lit("IND")).show()

+-----------+-----------+--------+--------+--------------------+------------+
|   Retailer|Retailer ID|    City|   State|             Product|temp_country|
+-----------+-----------+--------+--------+--------------------+------------+
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|         IND|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|         IND|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|         IND|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|         IND|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|         IND|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|         IND|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|         IND|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|         IND|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|         IND|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|         IND|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|         IND|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|         IND|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|         IND|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|         IND|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|         IND|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|         IND|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|         IND|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|         IND|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|         IND|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|         IND|
+-----------+-----------+--------+--------+--------------------+------------+
only showing top 20 rows

In [11]:
# casting columns

In [12]:
df1 = df.withColumn(
    "Retailer ID", col("Retailer ID").cast("string")
)

In [13]:
df1.show()

+-----------+-----------+--------+--------+--------------------+
|   Retailer|Retailer ID|    City|   State|             Product|
+-----------+-----------+--------+--------+--------------------+
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|
|Foot Locker|    1185732|New York|New York|Women's Street Fo...|
|Foot Locker|    1185732|New York|New York|Women's Athletic ...|
|Foot Locker|    1185732|New York|New York|       Men's Apparel|
|Foot Locker|    1185732|New York|New York|     Women's Apparel|
|Foot Locker|    1185732|New York|New York|Men's Street Foot...|
|Foot Locker|    1185732|New York|New York|Men's Athletic Fo...|
+-----------+-----------+--------+--------+--------------------+
only showing top 20 rows

In [14]:
df1.selectExpr(
    ("Retailer ID as bigint","retailer_id")
)

Py4JJavaError: An error occurred while calling o50.selectExpr.
: java.lang.ClassCastException: class java.util.ArrayList cannot be cast to class java.lang.String (java.util.ArrayList and java.lang.String are in module java.base of loader 'bootstrap')
	at scala.collection.TraversableLike.$anonfun$map$1(TraversableLike.scala:286)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at scala.collection.TraversableLike.map(TraversableLike.scala:286)
	at scala.collection.TraversableLike.map$(TraversableLike.scala:279)
	at scala.collection.AbstractTraversable.map(Traversable.scala:108)
	at org.apache.spark.sql.Dataset.$anonfun$selectExpr$1(Dataset.scala:1576)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset.selectExpr(Dataset.scala:1576)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)